.jira
coc
configstore
fish
fontforge
iterm2
legacy
lvim
lvim.old
vifm
yarn
*AWS*

# Tmux plugin installation (prefix + I)
tmux/plugins

# Configuration and tool-specific files
gatsby
github-copilot
gh
